.better-clock{
    display: inline-block;
    width: 300px;
    border:1px solid blueviolet;
    border-radius: 8px;
    text-align:center;
    &__time{
        color:burlywood;
        font-size: 48px;
    }
}